# Ex - 4

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import xml.etree.ElementTree as ET
tree = ET.parse('Data/breakfast_menu.xml')
root = tree.getroot()
data = []
for food in root.findall("food"):
    item = {
        "name": food.find("name").text,
        "price": food.find("price").text,
        "description": food.find("description").text,
        "calories": int(food.find("calories").text)
    }
    data.append(item)

df = pd.DataFrame(data)

df

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberri...,900
2,Berry-Berry Belgian Waffles,$8.95,Light Belgian waffles covered with an assortm...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our ev...",950