# Ex - 4

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import xml.etree.ElementTree as ET
tree = ET.parse('Data/breakfast_menu.xml')
root = tree.getroot()
data = []
for food in root.findall("food"):
    item = {
        "name": food.find("name").text,
        "price": food.find("price").text,
        "description": food.find("description").text,
        "calories": int(food.find("calories").text)
    }
    data.append(item)

df = pd.DataFrame(data)

df

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberri...,900
2,Berry-Berry Belgian Waffles,$8.95,Light Belgian waffles covered with an assortm...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our ev...",950

In [4]:
df.to_csv('Data/breakfast_menu.csv')

# Ex - 5

# Ex - 6

In [6]:
dataAir = pd.read_csv('Data/AirPassengers.csv')
first_half_df = dataAir.iloc[:,:6]
second_half_df = dataAir.iloc[:,6:]

In [7]:
first_half_df.head()

   Jan    Feb    Mar  Apr  May    Jun
0  112  118.0  132.0  129  121  135.0
1  115    NaN  141.0  135  125  149.0
2  145  150.0  178.0  163  172    NaN
3  171  180.0  193.0  181  183  218.0
4  196  196.0  236.0  235  229  243.0

In [8]:
second_half_df.head()

   Jul    Aug  Sep    Oct    Nov    Dec
0  148  148.0  136  119.0  104.0    NaN
1  170  170.0  158  133.0  114.0  140.0
2  199  199.0  184  162.0  146.0  166.0
3  230    NaN  209  191.0  172.0  194.0
4  264  272.0  237  211.0  180.0  201.0

In [9]:
air_df = first_half_df.merge(second_half_df, left_index=True, right_index=True, how='inner')
air_df

    Jan    Feb    Mar  Apr  May    Jun  Jul    Aug  Sep    Oct    Nov    Dec
0   112  118.0  132.0  129  121  135.0  148  148.0  136  119.0  104.0    NaN
1   115    NaN  141.0  135  125  149.0  170  170.0  158  133.0  114.0  140.0
2   145  150.0  178.0  163  172    NaN  199  199.0  184  162.0  146.0  166.0
3   171  180.0  193.0  181  183  218.0  230    NaN  209  191.0  172.0  194.0
4   196  196.0  236.0  235  229  243.0  264  272.0  237  211.0  180.0  201.0
5   204  188.0  235.0  227  234  264.0  302  293.0  259    NaN  203.0  229.0
6   242    NaN  267.0  269  270  315.0  364  347.0  312  274.0  237.0  278.0
7   284  277.0  317.0  313  318  374.0  413  405.0  355  306.0  271.0  306.0
8   315  301.0  356.0  348  355  422.0  465  467.0  404  347.0  305.0  336.0
9   340  318.0  362.0  348  363  435.0  491  505.0  404  359.0    NaN  337.0
10  360  342.0    NaN  396  420  472.0  548  559.0  463  407.0  362.0  405.0
11  417  391.0  419.0  461  472  535.0  622  606.0  508  461.0  390.0  432.0

In [10]:
air_df.isna().sum()

Jan    0
Feb    2
Mar    1
Apr    0
May    0
Jun    1
Jul    0
Aug    1
Sep    0
Oct    1
Nov    1
Dec    1
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
df = air_df.loc[:,["Feb"]]
df[df.isna().any(axis=1)].index.tolist()

[1, 6]

In [13]:
air_df['Feb'] = air_df['Feb'].fillna(air_df['Feb'].median())
air_df['Mar'] = air_df['Mar'].fillna(air_df['Mar'].median())
air_df['Jun'] = air_df['Jun'].fillna(air_df['Jun'].median())
air_df['Aug'] = air_df['Aug'].fillna(air_df['Aug'].median())
air_df['Oct'] = air_df['Oct'].fillna(air_df['Oct'].median())
air_df['Nov'] = air_df['Nov'].fillna(air_df['Nov'].median())
air_df['Dec'] = air_df['Dec'].fillna(air_df['Dec'].median())
air_df

    Jan    Feb    Mar  Apr  May    Jun  Jul    Aug  Sep    Oct    Nov    Dec
0   112  118.0  132.0  129  121  135.0  148  148.0  136  119.0  104.0  278.0
1   115  236.5  141.0  135  125  149.0  170  170.0  158  133.0  114.0  140.0
2   145  150.0  178.0  163  172  315.0  199  199.0  184  162.0  146.0  166.0
3   171  180.0  193.0  181  183  218.0  230  347.0  209  191.0  172.0  194.0
4   196  196.0  236.0  235  229  243.0  264  272.0  237  211.0  180.0  201.0
5   204  188.0  235.0  227  234  264.0  302  293.0  259  274.0  203.0  229.0
6   242  236.5  267.0  269  270  315.0  364  347.0  312  274.0  237.0  278.0
7   284  277.0  317.0  313  318  374.0  413  405.0  355  306.0  271.0  306.0
8   315  301.0  356.0  348  355  422.0  465  467.0  404  347.0  305.0  336.0
9   340  318.0  362.0  348  363  435.0  491  505.0  404  359.0  203.0  337.0
10  360  342.0  236.0  396  420  472.0  548  559.0  463  407.0  362.0  405.0
11  417  391.0  419.0  461  472  535.0  622  606.0  508  461.0  390.0  432.0

In [14]:
air_df.isna().sum()

Jan    0
Feb    0
Mar    0
Apr    0
May    0
Jun    0
Jul    0
Aug    0
Sep    0
Oct    0
Nov    0
Dec    0
dtype: int64

In [15]:
air_df['Year'] = pd.Series(range(1949, 1961))
air_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,112,118.0,132.0,129,121,135.0,148,148.0,136,119.0,104.0,278.0,1949
1,115,236.5,141.0,135,125,149.0,170,170.0,158,133.0,114.0,140.0,1950
2,145,150.0,178.0,163,172,315.0,199,199.0,184,162.0,146.0,166.0,1951
3,171,180.0,193.0,181,183,218.0,230,347.0,209,191.0,172.0,194.0,1952
4,196,196.0,236.0,235,229,243.0,264,272.0,237,211.0,180.0,201.0,1953
5,204,188.0,235.0,227,234,264.0,302,293.0,259,274.0,203.0,229.0,1954
6,242,236.5,267.0,269,270,315.0,364,347.0,312,274.0,237.0,278.0,1955
7,284,277.0,317.0,313,318,374.0,413,405.0,355,306.0,271.0,306.0,1956
8,315,301.0,356.0,348,355,422.0,465,467.0,404,347.0,305.0,336.0,1957
9,340,318.0,362.0,348,363,435.0,491,505.0,404,359.0,203.0,337.0,1958
10,360,342.0,236.0,396,420,472.0,548,559.0,463,407.0,362.0,405.0,1959
11,417,391.0,419.0,461,472,535.0,622,606.0,508,461.0,390.0,432.0,1960

In [30]:
greater = air_df[air_df['Jan'] > air_df['Dec']]
greater

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
9,340,318.0,362.0,348,363,435.0,491,505.0,404,359.0,203.0,337.0,1958